* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f1f1f1;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

input:focus, textarea:focus {
  outline: 2px solid #f9ca24;
}
